[phases.setup]
aptPkgs = ["git"]
nixPkgs = ["pnpm", "nodejs_22"]

[phases.install]
cmds = [
  "pnpm install --frozen-lockfile"
]

[phases.build]
cmds = [
  "cd packages/database && pnpm exec prisma generate",
  "cd packages/database && pnpm exec tsc",
  "cp -r packages/database/dist node_modules/.pnpm/file+packages+database_prisma@5.11.0/node_modules/@repo/database/",
  "cd apps/api && pnpm exec prisma generate",
  "cd apps/api && pnpm exec tsc"
]

[start]
cmd = "cd apps/api && pnpm exec prisma migrate deploy && node dist/apps/api/src/index.js"
