[phases.setup]
aptPkgs = ["nodejs"]

[phases.install]
cmds = [
  "npm install -g pnpm",
  "export PATH=/root/.npm-global/bin:/usr/local/bin:$PATH",
  "npm install",
  "npm run build"
]

[start]
cmd = "node dist/index.js"
