[phases.setup]
aptPkgs = ["nodejs", "git"]
nixPkgs = ["pnpm"]

[phases.install]
cmds = [
  "pnpm install"
]

[phases.build]
cmds = [
  "pnpm run build"
]

[start]
cmd = "npx prisma migrate deploy && node dist/index.js"
